X-QMAIL-Account: {@Account()}{
  @If(@Identity(),
      @Concat('\nX-QMAIL-SubAccount: ', @SubAccount()),
      '')
}
{
  @If(@Equal(@Profile('', 'Global', 'Bcc', '1'), '0'),
      '',
      @Concat('Bcc: ', @I(), '\n'))
}{
  @If($attachment,
      @Concat('X-QMAIL-Attachment: ', @RegexReplace($attachment, /\\/, '\\\\', @True()), '\n'),
      '')
}{@ParseUrl($url)}