X-QMAIL-Account: {@Account()}{
  @If(@Identity(),
      @Concat('\nX-QMAIL-SubAccount: ', @SubAccount()),
      '')
}
{
  @If(@Equal(@Profile('', 'Global', 'Bcc', '1'), '0'),
      '',
      @Concat('Bcc: ', @I(), '\n'))
}{@ParseUrl($url)}