Newsgroups:
Subject: 
Message-Id: {
	@Concat(
		'<',
		@ProcessId(),
		@FormatDate(@Date(), '%Y4%M0%D%h%m%s'),
		@Address(@I()),
		'>'
	)
}
X-QMAIL-Account: {@Account()}{@If(@Identity(), @Concat('\\nX-QMAIL-SubAccount: ', @SubAccount()), '')}

