Newsgroups: {@If(@FolderFlag(@Folder(:FN-FULLNAME, :FT-CURRENT), :FF-SYNCABLE), @Folder(), '')}
Subject: 
X-QMAIL-Account: {@Account()}{
  @If(@Identity(),
      @Concat('\nX-QMAIL-SubAccount: ', @SubAccount()),
      '')
}

