Newsgroups: {
  @Progn(@Set('folder', @Folder(:FN-FULLNAME, :FT-CURRENT)),
         @If(@And($folder, @FolderFlag($folder, :FF-SYNCABLE)),
             $folder,
             ''))
}
Subject: 
X-QMAIL-Account: {@Account()}{
  @If(@Identity(),
      @Concat('\nX-QMAIL-SubAccount: ', @SubAccount()),
      '')
}

